&lt;button class=&quot;btn non-block orange&quot;&gt;&lt;h6 class=&quot;white-text&quot;&gt;Orange Button&lt;/h6&gt;&lt;/button&gt;
&lt;button class=&quot;btn non-block green&quot;&gt;&lt;h6 class=&quot;white-text&quot;&gt;Green Button&lt;/h6&gt;&lt;/button&gt;
&lt;button class=&quot;btn non-block gray&quot;&gt;&lt;h6&gt;Gray Button&lt;/h6&gt;&lt;/button&gt;
