<button class="btn non-block large green"><h6 class="white-text">Large Button</h6></button>
<button class="btn non-block green"><h6 class="white-text">Button</h6></button>
<button class="btn non-block small green paragraph-font"><h6 class="white-text">Small Button</h6></button>
<button class="btn non-block tiny green"><p class="white-text">Tiny Button</p></button>
