<button class="btn non-block orange"><h6 class="white-text">Orange Button</h6></button>
<button class="btn non-block green"><h6 class="white-text">Green Button</h6></button>
<button class="btn non-block gray"><h6>Gray Button</h6></button>
