<div class="col-xs-10 col-xs-offset-1 vspace"style="padding: 5px; background-color: #666;">
  <form id="coachEarlyRegistrationForm" name="coachEarlyRegistrationForm" class="to-be-validated-one-line" action="/zeuswebapp/app/coach/early-registration?execution=e2s1" method="post" novalidate="novalidate">
      
    <div class="row one-line-form round">
      
        <input type="text" tabindex="1" class="form-control small-button " name="emailAddress" id="emailAddress" placeholder="Your Email Address" autocomplete="on" required="true" email="true" value="">
       
       <button name="_eventId_submit" type="submit" id="js-button-checkbox-button-show" class="btn non-block green small one-line-form-button" style="display: none;">
          <h6 class="small white-text">
            SUBSCRIBE
          </h6>
        </button>
        <button id="js-button-checkbox-button-hide" type="button" class="btn non-block gray one-line-form-button small" style="display: block;">
          <h6 class="small white-text">
            SUBSCRIBE
          </h6>
        </button>
    </div>
    
    <input type="hidden" name="_flowExecutionKey" cssclass="" value="e2s1"> 
    
    
    <div class="row js-button-checkbox-check">
      
      
        <input id="consent-checkbox" class="js-button-checkbox-check" name="consent" required="true" type="checkbox"> 
      
      
      <label for="consent-checkbox">
        <div class="new-checkbox"><i class="entypo-check white-text"></i></div>
        <p class="small white-text"> I consent to receive e-mails from Athletigen.</p>
      </label> 
      
      
    </div>
  </form>
</div>
