&lt;div class=&quot;text&quot;&gt;
	&lt;p&gt;&lt;a href=&quot;#&quot;&gt;This is a text link&lt;/a&gt;&lt;/p&gt;

	&lt;p&gt;&lt;strong&gt;Strong is used to indicate strong importance&lt;/strong&gt;&lt;/p&gt;

	&lt;p&gt;Superscript&lt;sup&gt;&reg;&lt;/sup&gt;&lt;/p&gt;

	&lt;p&gt;Subscript for things like H&lt;sub&gt;2&lt;/sub&gt;O&lt;/p&gt;

	&lt;p&gt;&lt;samp&gt;This is sample output from a computer program&lt;/samp&gt;&lt;/p&gt;
&lt;/div&gt;
