
<footer class="site-footer">
  <div class="row js-vertical-center-par">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-8 col-md-9 col-sm-9 col-xs-12 remove-extra-margin">
      <div class="row js-vertical-center-child">
        <div class="col-md-2 visible-md visible-lg">
          <a href="${settings['webapp_path']}/home">
            <img src="../../images/logos/logo-icon-only.svg">
          </a>
        </div>
        <div class="row visible-xs">
          <div class="col-xs-12 text-center">
            <ul class="social-networks">
              <li><a target="_blank" href="https://twitter.com/athletigen"> 
                <h5 class="unresponsive"><i class="entypo-twitter"></i></h5>
              </a></li>
              <li><a target="_blank" href="https://www.facebook.com/athletigen"> 
                <h5 class="unresponsive"><i class="entypo-facebook"></i></h5>
              </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="row">
            <nav class="text-center-xs">
              <a class="hidden-xs" href="${settings['webapp_path']}/contact">
                <p class="white-text">Contact Us</p>
              </a>
              <p class="hidden-xs white-text">|</p>
              <a href="${settings['webapp_path']}/legal/privacy">
                <p class="white-text">Privacy Policy</p>
              </a>
              <p class="white-text">|</p>
              <a href="${settings['webapp_path']}/legal/terms">
                <p class="white-text">Terms of Service</p>
              </a>
            </nav>
          </div>
          <div class="row visible-xs text-center">
            <a href="${settings['webapp_path']}/contact">
              <p class="white-text">Contact Us</p>
            </a>
          </div>
          <div class="row text-center-xs">
            <div class="copyright">
              <p class="small lighter-text">
                Copyright &copy; Athletigen, 2014 - All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3 hidden-xs">
      <ul class="social-networks js-vertical-center-child">
        <li class="stackable-sm">
          <a target="_blank" href="https://twitter.com/athletigen">
            <h5 class="unresponsive">
              <i class="entypo-twitter"></i>
            </h5>
          </a>
        </li>
        <li class="stackable-sm">
          <a target="_blank" href="https://www.facebook.com/athletigen">
            <h5 class="unresponsive">
              <i class="entypo-facebook"></i>
            </h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
