
&lt;footer class=&quot;site-footer&quot;&gt;
  &lt;div class=&quot;row js-vertical-center-par&quot;&gt;
    &lt;div class=&quot;col-lg-1&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-8 col-md-9 col-sm-9 col-xs-12 remove-extra-margin&quot;&gt;
      &lt;div class=&quot;row js-vertical-center-child&quot;&gt;
        &lt;div class=&quot;col-md-2 visible-md visible-lg&quot;&gt;
          &lt;a href=&quot;${settings['webapp_path']}/home&quot;&gt;
            &lt;img src=&quot;../../images/logos/logo-icon-only.svg&quot;&gt;
          &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row visible-xs&quot;&gt;
          &lt;div class=&quot;col-xs-12 text-center&quot;&gt;
            &lt;ul class=&quot;social-networks&quot;&gt;
              &lt;li&gt;&lt;a target=&quot;_blank&quot; href=&quot;https://twitter.com/athletigen&quot;&gt; 
                &lt;h5 class=&quot;unresponsive&quot;&gt;&lt;i class=&quot;entypo-twitter&quot;&gt;&lt;/i&gt;&lt;/h5&gt;
              &lt;/a&gt;&lt;/li&gt;
              &lt;li&gt;&lt;a target=&quot;_blank&quot; href=&quot;https://www.facebook.com/athletigen&quot;&gt; 
                &lt;h5 class=&quot;unresponsive&quot;&gt;&lt;i class=&quot;entypo-facebook&quot;&gt;&lt;/i&gt;&lt;/h5&gt;
              &lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-10 col-xs-12&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            &lt;nav class=&quot;text-center-xs&quot;&gt;
              &lt;a class=&quot;hidden-xs&quot; href=&quot;${settings['webapp_path']}/contact&quot;&gt;
                &lt;p class=&quot;white-text&quot;&gt;Contact Us&lt;/p&gt;
              &lt;/a&gt;
              &lt;p class=&quot;hidden-xs white-text&quot;&gt;|&lt;/p&gt;
              &lt;a href=&quot;${settings['webapp_path']}/legal/privacy&quot;&gt;
                &lt;p class=&quot;white-text&quot;&gt;Privacy Policy&lt;/p&gt;
              &lt;/a&gt;
              &lt;p class=&quot;white-text&quot;&gt;|&lt;/p&gt;
              &lt;a href=&quot;${settings['webapp_path']}/legal/terms&quot;&gt;
                &lt;p class=&quot;white-text&quot;&gt;Terms of Service&lt;/p&gt;
              &lt;/a&gt;
            &lt;/nav&gt;
          &lt;/div&gt;
          &lt;div class=&quot;row visible-xs text-center&quot;&gt;
            &lt;a href=&quot;${settings['webapp_path']}/contact&quot;&gt;
              &lt;p class=&quot;white-text&quot;&gt;Contact Us&lt;/p&gt;
            &lt;/a&gt;
          &lt;/div&gt;
          &lt;div class=&quot;row text-center-xs&quot;&gt;
            &lt;div class=&quot;copyright&quot;&gt;
              &lt;p class=&quot;small lighter-text&quot;&gt;
                Copyright &amp;copy; Athletigen, 2014 - All Rights Reserved
              &lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-2 col-md-3 col-sm-3 hidden-xs&quot;&gt;
      &lt;ul class=&quot;social-networks js-vertical-center-child&quot;&gt;
        &lt;li class=&quot;stackable-sm&quot;&gt;
          &lt;a target=&quot;_blank&quot; href=&quot;https://twitter.com/athletigen&quot;&gt;
            &lt;h5 class=&quot;unresponsive&quot;&gt;
              &lt;i class=&quot;entypo-twitter&quot;&gt;&lt;/i&gt;
            &lt;/h5&gt;
          &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;stackable-sm&quot;&gt;
          &lt;a target=&quot;_blank&quot; href=&quot;https://www.facebook.com/athletigen&quot;&gt;
            &lt;h5 class=&quot;unresponsive&quot;&gt;
              &lt;i class=&quot;entypo-facebook&quot;&gt;&lt;/i&gt;
            &lt;/h5&gt;
          &lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;
