&lt;div class=&quot;report-breadcrumb&quot;&gt;
  &lt;div class=&quot;js-vertical-center-par&quot;&gt;
    &lt;div class=&quot;row&quot;&gt;
      &lt;a href=&quot;/app/secure/landing&quot;&gt;
        &lt;p class=&quot;breadcrumb-section breadcrumb-small small js-vertical-center-child&quot;&gt;
          Level 1
        &lt;/p&gt;
      &lt;/a&gt;
      &lt;div class=&quot;breadcrumb-divider&quot;&gt;
        &lt;img src=&quot;../../images/small-semantic-icons/chevron-right.png&quot;&gt;
      &lt;/div&gt;
      &lt;a href=&quot;/app/secure/athletics/profile/category?code=motivation&quot;&gt;
        &lt;p class=&quot;breadcrumb-section breadcrumb-small small js-vertical-center-child&quot;&gt;
          Level 2
        &lt;/p&gt;
      &lt;/a&gt;
      &lt;div class=&quot;breadcrumb-divider&quot;&gt;
        &lt;img src=&quot;../../images/small-semantic-icons/chevron-right.png&quot;&gt;
      &lt;/div&gt;
        &lt;p class=&quot;breadcrumb-section breadcrumb-small small js-vertical-center-child&quot;&gt;
          Level 3
        &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
