&lt;img src=&quot;../../images/dynamic-ui/loading-large.gif&quot; alt=&quot;Loading Large&quot; /&gt;
&lt;img src=&quot;../../images/dynamic-ui/loading-small.gif&quot; alt=&quot;Loading Small&quot; /&gt;
