<div class="report-breadcrumb">
  <div class="js-vertical-center-par">
    <div class="row">
      <a href="/app/secure/landing">
        <p class="breadcrumb-section breadcrumb-small small js-vertical-center-child">
          Level 1
        </p>
      </a>
      <div class="breadcrumb-divider">
        <img src="../../images/small-semantic-icons/chevron-right.png">
      </div>
      <a href="/app/secure/athletics/profile/category?code=motivation">
        <p class="breadcrumb-section breadcrumb-small small js-vertical-center-child">
          Level 2
        </p>
      </a>
      <div class="breadcrumb-divider">
        <img src="../../images/small-semantic-icons/chevron-right.png">
      </div>
        <p class="breadcrumb-section breadcrumb-small small js-vertical-center-child">
          Level 3
        </p>
    </div>
  </div>
</div>
