<nav class="tab-panel js-vertical-center-par">
  <a href="/zeuswebapp/app/secure/landing">
    <div class="one-tab active overview">
      <div class="js-vertical-center-child" style="margin-top: 12.5px;">
        <img class="profile-picture" src="../../images/button-icons/histogram-white.svg">
        <p class="small white-text bold hidden-xs hidden-sm">
          Overview
        </p>
      </div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=motivation">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/motivation-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Motivation
          </p>
        </div>
      </div>
      <div class="bottom motivation"></div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=power">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/power-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Power
          </p>
        </div>
      </div>
      <div class="bottom power"></div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=anaerobic_capacity">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/anaerobics-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Anaerobics
          </p>
        </div>
      </div>
      <div class="bottom anaerobics"></div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=endurance">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/endurance-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Endurance
          </p>
        </div>
      </div>
      <div class="bottom endurance"></div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=metabolic_efficiency">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/meta-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Metabolism
          </p>
        </div>
      </div>
      <div class="bottom metabolism"></div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=recovery">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/recover-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Recovery
          </p>
        </div>
      </div>
      <div class="bottom recovery"></div>
    </div>
  </a>
  <div class="vertical-line"></div>
  <a href="/zeuswebapp/app/secure/athletics/profile/category?code=injury_protection">
    <div class="one-tab ">
      <div class="js-vertical-center-child" style="margin-top: 10px;">
        <div class="top">
          <img class="profile-picture" src="../../images/category-icons/injury-black.svg">
          <p class="small bold hidden-xs hidden-sm">
            Injury
          </p>
        </div>
      </div>
      <div class="bottom injury"></div>
    </div>
  </a>
  
</nav>
