<div class="row">
  <ul class="tabs" role="tablist">
    <li id="js-direct-from-yes" class="tab active"><a href="#yes" role="tab" data-toggle="tab"><h3 class="bold paragraph-font">TAB 1</h3></a></li>
    <li id="js-direct-from-no" class="tab"><a href="#no" class="tab" role="tab" data-toggle="tab"><h3 class="bold paragraph-font">TAB 2</h3></a></li>
  </ul>
</div>
<div class="row">
  <div class="col-lg-1 col-xs-0"></div>
  <div class="col-lg-10 col-xs-12">
    <div class="panel headerless">
      <div class="panel-body">
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane active" id="yes">
            <div class="row small-vspace">
              <h5 class="text-center paragraph-font">Tab 1</h5>
            </div>
          </div>
          <div class="tab-pane" id="no">
            <div class="row small-vspace">
              <h5 class="text-center paragraph-font">Tab 2</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
