&lt;nav class=&quot;tab-panel js-vertical-center-par&quot;&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/landing&quot;&gt;
    &lt;div class=&quot;one-tab active overview&quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 12.5px;&quot;&gt;
        &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/button-icons/histogram-white.svg&quot;&gt;
        &lt;p class=&quot;small white-text bold hidden-xs hidden-sm&quot;&gt;
          Overview
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=motivation&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/motivation-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Motivation
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom motivation&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=power&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/power-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Power
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom power&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=anaerobic_capacity&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/anaerobics-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Anaerobics
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom anaerobics&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=endurance&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/endurance-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Endurance
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom endurance&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=metabolic_efficiency&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/meta-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Metabolism
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom metabolism&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=recovery&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/recover-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Recovery
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom recovery&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  &lt;div class=&quot;vertical-line&quot;&gt;&lt;/div&gt;
  &lt;a href=&quot;/zeuswebapp/app/secure/athletics/profile/category?code=injury_protection&quot;&gt;
    &lt;div class=&quot;one-tab &quot;&gt;
      &lt;div class=&quot;js-vertical-center-child&quot; style=&quot;margin-top: 10px;&quot;&gt;
        &lt;div class=&quot;top&quot;&gt;
          &lt;img class=&quot;profile-picture&quot; src=&quot;../../images/category-icons/injury-black.svg&quot;&gt;
          &lt;p class=&quot;small bold hidden-xs hidden-sm&quot;&gt;
            Injury
          &lt;/p&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;bottom injury&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
  &lt;/a&gt;
  
&lt;/nav&gt;
