&lt;div class=&quot;panel&quot;&gt;&lt;div class=&quot;panel-header js-vertical-center-par&quot;&gt;&lt;div class=&quot;js-vertical-center-child&quot;&gt;&lt;h6 class=&quot;small text-white paragraph-font&quot;&gt;Header&lt;/h6&gt;&lt;/div&gt;&lt;/div&gt;&lt;div class=&quot;panel-body&quot;&gt;&lt;p&gt;I am in a panel with a header&lt;/p&gt;&lt;/div&gt;
