<p class="text-white" style="background-color: rgba(47, 61, 78, 1);">Heading or paragraph white</p>
<p class="text-green" style="background-color: rgba(47, 61, 78, 1);">Heading or paragraph green</p>
<p class="text-lighter" style="background-color: rgba(47, 61, 78, 1);">Heading or paragraph gray</p>
<h5 class="paragraph-font">Paragraph font on heading: 'Open Sans', 'helvitica', 'Arial', sans-serif</h5>
<p class="header-font">Heading font on paragraph: 'Varela Round', 'Lucida Sans Unicode', sans-serif</p>
<p class="text-lighter">Heading or paragraph gray</p>
