&lt;p&gt;Paragraph font: 'Open Sans', 'helvitica', 'Arial', sans-serif&lt;/p&gt;
&lt;p class=&quot;bold&quot;&gt;Paragraph font Bold&lt;/p&gt;
&lt;h5&gt;Heading font: 'Varela Round', 'Lucida Sans Unicode', sans-serif&lt;/h5&gt;
