 &lt;form:form  method=&quot;post&quot; name=&quot;signupForm&quot; modelAttribute=&quot;signupForm&quot; cssClass=&quot;to-be-validated&quot;  action=&quot;${tlibfn:rewrite(flowExecutionUrl, pageContext.request, settings['webapp_path'])}&quot;&gt;
    &lt;input type=&quot;hidden&quot; name=&quot;_flowExecutionKey&quot; value=&quot;${flowExecutionKey}&quot; /&gt; 
    
    &lt;spring:hasBindErrors name=&quot;signupForm&quot;&gt;
    &lt;form:errors element=&quot;div&quot; cssClass=&quot;small error form-error&quot; /&gt;
  &lt;/spring:hasBindErrors&gt;

    &lt;div class=&quot;form-input wide&quot;&gt;
       &lt;spring:bind path=&quot;emailAddress&quot;&gt;
       &lt;input type=&quot;text&quot; 
          tabindex=&quot;1&quot;
            class=&quot;form-control ${status.error ? 'small error' : ''}&quot; 
            name=&quot;emailAddress&quot; 
            id=&quot;emailAddress&quot; 
            placeholder=&quot;Email&quot; 
            autocomplete=&quot;on&quot; 
            email=&quot;true&quot;
            required=&quot;true&quot;
            value=&quot;${signupForm.emailAddress}&quot; /&gt;
&lt;/spring:bind&gt;

      &lt;form:errors path=&quot;emailAddress&quot; element=&quot;div&quot; cssClass=&quot;small error&quot; /&gt;
    &lt;/div&gt;

    &lt;div class=&quot;form-input wide&quot;&gt;
      &lt;spring:bind path=&quot;password&quot;&gt;
       &lt;input type=&quot;password&quot; 
        tabindex=&quot;2&quot;
          class=&quot;form-control ${status.error ? 'small error' : ''}&quot; 
          name=&quot;password&quot; 
          required=&quot;true&quot;
          id=&quot;password&quot;   
          required=&quot;true&quot;
          placeholder=&quot;Password (minimum 6 characters)&quot;
          value=&quot;${signupForm.password}&quot;
          data-validate=&quot;required&quot; 
          autocomplete=&quot;off&quot; /&gt;
      &lt;/spring:bind&gt;
                
    &lt;form:errors path=&quot;password&quot; element=&quot;div&quot; cssClass=&quot;small error&quot; /&gt; 
    &lt;/div&gt;

    &lt;div class=&quot;form-input wide tiny-vspace&quot;&gt;
      &lt;spring:bind path=&quot;passwordConfirmation&quot;&gt;
        &lt;input type=&quot;password&quot; 
          tabindex=&quot;3&quot;
            class=&quot;form-control ${status.error ? 'small error' : ''}&quot; 
            required=&quot;true&quot;
            name=&quot;passwordConfirmation&quot; 
            id=&quot;passwordConfirmation&quot;   
            required=&quot;true&quot;
            placeholder=&quot;Confirm your password&quot; 
            value=&quot;${signupForm.passwordConfirmation}&quot;
            data-validate=&quot;required&quot;
            autocomplete=&quot;off&quot; /&gt;
      &lt;/spring:bind&gt;
      
      &lt;form:errors path=&quot;passwordConfirmation&quot; element=&quot;div&quot; cssClass=&quot;small error&quot; /&gt;
    &lt;/div&gt;
    
    &lt;div class=&quot;row&quot;&gt;
      &lt;p class=&quot;small text-center form-text&quot;&gt;
        By clicking &quot;Sign Up&quot;, you confirm that you accept our 
        &lt;strong&gt;&lt;a class=&quot;no-underline&quot; target=&quot;_blank&quot; href=&quot;${settings['webapp_path']}/legal/privacy&quot;&gt;
          Privacy Policy
        &lt;/a&gt;&lt;/strong&gt;
       and 
        &lt;strong&gt;&lt;a class=&quot;no-underline&quot; target=&quot;_blank&quot; href=&quot;${settings['webapp_path']}/legal/terms&quot;&gt;
          Terms of Service&lt;/a&gt;&lt;/strong&gt;.
      &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row form-button tiny-vspace&quot;&gt;
      &lt;button name=&quot;_eventId_submit&quot; type=&quot;submit&quot; class=&quot;btn btn-block green square&quot;&gt;
        &lt;h6 class=&quot;white-text small&quot;&gt;
          SIGN UP
        &lt;/h6&gt;
      &lt;/button&gt;
    &lt;/div&gt;
    &lt;div class=&quot;text-center&quot;&gt;
        &lt;span class=&quot;form-option small&quot;&gt;or &lt;strong&gt;&lt;a href=&quot;${settings['webapp_path']}/secure/landing&quot;&gt;Log In&lt;/a&gt;&lt;/strong&gt;&lt;/span&gt;
    &lt;/div&gt;

  &lt;/form:form&gt;
