&lt;ul class=&quot;sg-colors&quot;&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(247, 160, 77, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(247, 160, 77, 1)&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(255, 123, 91, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(255, 123, 91, 1)&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(165, 133, 232, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(165, 133, 232, 1)&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(114, 169, 232, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(114, 169, 232, 1)&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(60, 208, 200, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(60, 208, 200, 1)&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(71, 193, 103, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(71, 193, 103, 1)&lt;/span&gt;
	&lt;/li&gt;
  &lt;li&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: rgba(236, 205, 44, 1);&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;rgba(236, 205, 44, 1)&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
