&lt;p&gt;A normal paragraph. A normal paragraph usually consists of one or more sentences. The paragraph should make up the majority of the text on the site.&lt;/p&gt;
&lt;p class=&quot;small&quot;&gt;A small paragraph. This is usually used for fine print or unimportant options.&lt;/p&gt;
