
&lt;div class=&quot;private-header&quot;&gt;
  &lt;header class=&quot;site-header&quot;&gt;
    &lt;div class=&quot;header-left-side&quot;&gt;
      &lt;section class=&quot;site-logo&quot;&gt;
        &lt;a href=&quot;${settings['webapp_path']}/home&quot;&gt;
          &lt;img src=&quot;../../images/logos/logo-beta-white.svg&quot; /&gt;
        &lt;/a&gt;
      &lt;/section&gt;
    &lt;/div&gt;
    &lt;!-- We should hide the navbar incase this header is used on public page (23andMe flow) --&gt;
    &lt;c:if test=&quot;${userInfo ne null}&quot; &gt;
      &lt;div class=&quot;header-right-side&quot;&gt;
        &lt;ul class=&quot;hidden-xs&quot;&gt;
          &lt;li class=&quot;header-only-login&quot;&gt;
            &lt;div class=&quot;btn-group&quot;&gt;
              &lt;a class=&quot;name&quot; href=&quot;${settings['webapp_path']}/secure/landing&quot; data-bind=&quot;label&quot; data-toggle=&quot;dropdown&quot;&gt;
                 &lt;img class=&quot;login-lock hidden-xs&quot; src=&quot;../../images/small-semantic-icons/user.svg&quot;/&gt; ${userInfo.username}
              &lt;/a&gt;
              &lt;ul class=&quot;dropdown-menu skinny&quot; role=&quot;menu&quot;&gt;
                &lt;li&gt;&lt;a href=&quot;${settings['webapp_path']}/account/settings/password/forgot&quot;&gt;Change Password&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          &lt;li class=&quot;header-only-login&quot;&gt;
            &lt;img class=&quot;login-lock hidden-xs&quot; src=&quot;../../images/small-semantic-icons/logout.svg&quot;/&gt;
            &lt;a href=&quot;${settings['webapp_path']}/account/logout&quot;&gt;
              Logout
            &lt;/a&gt;
          &lt;/li&gt;             
        &lt;/ul&gt;
        &lt;div class=&quot;visible-xs&quot;&gt;
           &lt;div class=&quot;btn-group&quot;&gt;
             &lt;button type=&quot;button&quot; class=&quot;btn dropdown-toggle&quot; data-toggle=&quot;dropdown&quot;&gt;
               &lt;span data-bind=&quot;label white-text&quot;&gt;&lt;i class=&quot;entypo-menu white-text&quot;&gt;&lt;/i&gt;&lt;/span&gt;
             &lt;/button&gt;
             &lt;ul class=&quot;dropdown-menu skinny&quot; role=&quot;menu&quot;&gt;
               &lt;li&gt;&lt;a href=&quot;${settings['webapp_path']}/secure/landing&quot;&gt;Athletics&lt;/a&gt;&lt;/li&gt;
               &lt;li&gt;&lt;a href=&quot;${settings['webapp_path']}/account/settings/password/forgot&quot;&gt;Change Password&lt;/a&gt;&lt;/li&gt;
               &lt;li class=&quot;header-only-login&quot;&gt;
                 &lt;a href=&quot;${settings['webapp_path']}/account/logout&quot;&gt;
                   Logout
                 &lt;/a&gt;
               &lt;/li&gt;
             &lt;/ul&gt;
           &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/c:if&gt;
  &lt;/header&gt;
&lt;/div&gt;
