<div class="panel headerless">
  <div class="panel-body for-table">
    <table class="categories-table lighter-text">
      <thead>
        <tr>
          <th class="gene-name hidden-xs">
            Gene Name
          </th>
          <th class="gene-name hidden-xs">
            Gene Marker
          </th>
          <th class="gene-name visible-xs">
            Gene Name(Gene Marker)
          </th>
          <th class="gene-functions hidden-xs">
            Gene Functions
          </th>
          <th class="genotype">
            <div>Genotype</div><i class="entypo-help-circled question-clickable" data-toggle="modal" data-target="#js-genotype-help"></i>
          </th>
          <th class="details-buttons">
            
          </th>
        </tr>
      </thead>
      <tbody>
        
          <tr class="PAPSS2 0">
            <td class="gene-name text-center hidden-xs">
               PAPSS2
            </td>
            <td class="gene-name text-center hidden-xs">
              rs10887741
            </td>
            <td class="gene-name text-center visible-xs">
              rs10887741(PAPSS2)
            </td>
            <td class="gene-functions hidden-xs">
              An enzyme that adds sulfate groups to macromolecules and is related to propensity to exercise and physical activity levels
            </td>
            <td class="genotype text-center">
              CT
            </td>
            <td class="details-buttons text-center">
              <a class="no-underline" href="/app/secure/athletics/profile/snp?category=6&amp;snp=2">
                <button type="button" class="btn non-block tiny gray">
                  <p class="table-small">
                    <strong>Details</strong>
                  </p>
                </button>
              </a>
            </td>
          </tr>
          
        
          <tr class="SPATS2L 1">
            <td class="gene-name text-center hidden-xs">
               SPATS2L
            </td>
            <td class="gene-name text-center hidden-xs">
              rs12612420
            </td>
            <td class="gene-name text-center visible-xs">
              rs12612420(SPATS2L)
            </td>
            <td class="gene-functions hidden-xs">
              A protein expressed in the brain that is linked to willingness to exercise and train
            </td>
            <td class="genotype text-center">
              GG
            </td>
            <td class="details-buttons text-center">
              <a class="no-underline" href="/app/secure/athletics/profile/snp?category=6&amp;snp=6">
                <button type="button" class="btn non-block tiny gray">
                  <p class="table-small">
                    <strong>Details</strong>
                  </p>
                </button>
              </a>
            </td>
          </tr>
          
        
          <tr class="C18orf2 2">
            <td class="gene-name text-center hidden-xs">
               C18orf2
            </td>
            <td class="gene-name text-center hidden-xs">
              rs8097348
            </td>
            <td class="gene-name text-center visible-xs">
              rs8097348(C18orf2)
            </td>
            <td class="gene-functions hidden-xs">
              Associated with the willingness to exercise and physical activity level
            </td>
            <td class="genotype text-center">
              AA
            </td>
            <td class="details-buttons text-center">
              <a class="no-underline" href="/app/secure/athletics/profile/snp?category=6&amp;snp=34">
                <button type="button" class="btn non-block tiny gray">
                  <p class="table-small">
                    <strong>Details</strong>
                  </p>
                </button>
              </a>
            </td>
          </tr>
          
        
          <tr class="CREB1 3">
            <td class="gene-name text-center hidden-xs">
               CREB1
            </td>
            <td class="gene-name text-center hidden-xs">
              rs2253206
            </td>
            <td class="gene-name text-center visible-xs">
              rs2253206(CREB1)
            </td>
            <td class="gene-functions hidden-xs">
              Associated with heart rate, aerobic capacity, and endurance performance
            </td>
            <td class="genotype text-center">
              GG
            </td>
            <td class="details-buttons text-center">
              <a class="no-underline" href="/app/secure/athletics/profile/snp?category=6&amp;snp=21">
                <button type="button" class="btn non-block tiny gray">
                  <p class="table-small">
                    <strong>Details</strong>
                  </p>
                </button>
              </a>
            </td>
          </tr>
          
        
          <tr class="AMPD1 4">
            <td class="gene-name text-center hidden-xs">
               AMPD1
            </td>
            <td class="gene-name text-center hidden-xs">
              rs17602729
            </td>
            <td class="gene-name text-center visible-xs">
              rs17602729(AMPD1)
            </td>
            <td class="gene-functions hidden-xs">
              Stimulates energy production in working muscle and is associated with strength
            </td>
            <td class="genotype text-center">
              GG
            </td>
            <td class="details-buttons text-center">
              <a class="no-underline" href="/app/secure/athletics/profile/snp?category=6&amp;snp=10">
                <button type="button" class="btn non-block tiny gray">
                  <p class="table-small">
                    <strong>Details</strong>
                  </p>
                </button>
              </a>
            </td>
          </tr>
          
        
      </tbody>
    </table>
  </div>
</div>
