<div class="panel"><div class="panel-header js-vertical-center-par"><div class="js-vertical-center-child"><h6 class="small text-white paragraph-font">Header</h6></div></div><div class="panel-body"><p>I am in a panel with a header</p></div>
