&lt;fieldset&gt;
&lt;form:form name=&quot;loginForm&quot; modelAttribute=&quot;loginForm&quot; method=&quot;post&quot; cssClass=&quot;to-be-validated&quot; action=&quot;${tlibfn:rewrite(flowExecutionUrl, pageContext.request, settings['webapp_path'])}&quot;&gt;
      &lt;input type=&quot;hidden&quot; name=&quot;_flowExecutionKey&quot; value=&quot;${flowExecutionKey}&quot; /&gt;
      
      &lt;spring:hasBindErrors name=&quot;loginForm&quot;&gt;
        &lt;form:errors element=&quot;div&quot; cssClass=&quot;small error form-error tiny-vspace&quot; /&gt;
      &lt;/spring:hasBindErrors&gt; 

      &lt;div class=&quot;form-input wide tiny-vspace&quot;&gt;
        &lt;spring:bind path=&quot;username&quot;&gt;
          &lt;input name=&quot;username&quot; id=&quot;username&quot; type=&quot;text&quot;
            tabindex=&quot;1&quot;
            value=&quot;Email&quot;
            placeholder=&quot;Email&quot; 
            required=&quot;true&quot;
            email=&quot;true&quot;
            autocomplete=&quot;on&quot; class=&quot;form-control ${status.error ? 'small error' : ''}&quot; /&gt;
            
         &lt;/spring:bind&gt;
        &lt;form:errors path=&quot;username&quot; element=&quot;div&quot; cssClass=&quot;small error&quot; /&gt;
      &lt;/div&gt;

      &lt;div class=&quot;form-input wide tiny-vspace&quot;&gt;
        &lt;spring:bind path=&quot;password&quot;&gt;
            &lt;input name=&quot;password&quot; id=&quot;password&quot; type=&quot;password&quot;
              tabindex=&quot;2&quot;
                class=&quot;form-control ${status.error ? 'small error' : ''}&quot; 
                required=&quot;true&quot;
                placeholder=&quot;Password&quot;
                autocomplete=&quot;off&quot; /&gt;
      &lt;/spring:bind&gt;
        &lt;form:errors path=&quot;password&quot; element=&quot;div&quot; cssClass=&quot;small error&quot; /&gt;
      &lt;/div&gt;
  &lt;/form:form&gt;
&lt;/fieldset&gt;
