<ul class="sg-colors">
  <li>
		<span class="sg-swatch" style="background: rgba(247, 160, 77, 1);"></span>
		<span class="sg-label">rgba(247, 160, 77, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(255, 123, 91, 1);"></span>
		<span class="sg-label">rgba(255, 123, 91, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(165, 133, 232, 1);"></span>
		<span class="sg-label">rgba(165, 133, 232, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(114, 169, 232, 1);"></span>
		<span class="sg-label">rgba(114, 169, 232, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(60, 208, 200, 1);"></span>
		<span class="sg-label">rgba(60, 208, 200, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(71, 193, 103, 1);"></span>
		<span class="sg-label">rgba(71, 193, 103, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(236, 205, 44, 1);"></span>
		<span class="sg-label">rgba(236, 205, 44, 1)</span>
	</li>
</ul>
