<ul class="sg-colors">
  <li>
		<span class="sg-swatch" style="background: #F7A04D;"></span>
		<span class="sg-label">#F7A04D</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #FF7B5B;"></span>
		<span class="sg-label">#FF7B5B</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #A585E8;"></span>
		<span class="sg-label">#A585E8</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #72A9E8;"></span>
		<span class="sg-label">#72A9E8</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #3CD0C8;"></span>
		<span class="sg-label">#3CD0C8</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #47C167;"></span>
		<span class="sg-label">#47C167</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: #ECCD2C;"></span>
		<span class="sg-label">#ECCD2C</span>
	</li>
</ul>
