<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: rgba(43, 171, 110, 1);"></span>
		<span class="sg-label">rgba(43, 171, 110, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(43, 171, 110, 1);"></span>
		<span class="sg-label">rgba(43, 171, 110, 1)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(58, 186, 125, 0.20);"></span>
		<span class="sg-label">rgba(43, 171, 110, 0.20)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(245, 166, 35, 1);"></span>
		<span class="sg-label">rgba(245, 166, 35, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(255, 181, 50, 1);"></span>
		<span class="sg-label">rgba(245, 166, 35, 1)</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: rgba(226, 231, 237, 1);"></span>
		<span class="sg-label">rgba(226, 231, 237, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(239, 244, 250, 1);"></span>
		<span class="sg-label">rgba(226, 231, 237, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(47, 61, 76, 1);"></span>
		<span class="sg-label">rgba(47, 61, 76, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(96, 110, 125, 1);"></span>
		<span class="sg-label">rgba(96, 110, 125, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(255, 255, 255, 1);"></span>
		<span class="sg-label">rgba(255, 255, 255, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(246, 246, 246, 1);"></span>
		<span class="sg-label">rgba(246, 246, 246, 1)</span>
	</li>
  <li>
		<span class="sg-swatch" style="background: rgba(170, 179, 168, 1);"></span>
		<span class="sg-label">rgba(170, 179, 168, 1)</span>
	</li>
</ul>
