<p class="hidden-xs">Hidden on screens 767px wide and below (phone)</p>

<p class="visible-xs hide-large">Visible on screens 767px wide and below (phone)</p>

<p class="hidden-sm">Hidden on screens 767px-991px wide (tablet)</p>

<p class="visible-sm">Visible on screens 767px-991px wide (tablet)</p>

<p class="hidden-md">Hidden on screens 992px-1199px wide (small desktop)</p>

<p class="visible-md">Visible on screens 992px-1199px wide (small desktop)</p>

<p class="hidden-lg">Hidden on screens 1200px+ wide (full size desktop)</p>

<p class="visible-lg">Visible on screens 1200px+ wide (full size desktop)</p>
